<form class="search-form js-search-form" id="search-form">
  <input
    class="search-input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="btn search-btn" type="submit">
    <img class="search-img" src="./images/Search.jpg" alt="Search" width="25" />
  </button>
</form>
<a href="https://pixabay.com/">
  <img
    class="pixabay-logo"
    src="https://pixabay.com/static/img/public/medium_rectangle_b.png"
    alt="Pixabay"
    width="40px"
  />
</a>

<div class="gallery js-gallery"></div>

<button class="btn-load isHidden js-load-more" type="button">Load more</button>
